
#torrentsTable {
    display: none;
}

#addInput {
    margin-top: 10px;
    display:none;
}

#buttonBar {
    display:none;
    float: right;
}

#beatBar {
    float: right;
}

tr {
    cursor: move;
}

tr.active {
    background: #F4F4F8;
}

tr.stopped {
    background: #DEEBFF !important;
    font-style: oblique;
    color: #666;
}

div.prog-border {
    width: 100px;
    height: 20px;
    background: #FFF;
    padding: 3px;
    border: 1px solid #DDD;
 }

div.prog-bar {
    height: 20px;
    background: url(/images/progress_blue.gif) repeat-x;
}

div.complete {
    background: url(/images/progress_blue.gif) repeat-x;
}

div.incomplete {
    background: url(/images/progress_blue.gif) repeat-x;
}

div.prog-text {
    font-family: 'Lucida Grande';
    font-size: 7pt;
    text-align: right;
}
