
#torrentsTable {
    display: none;
    height: 500px;
}

#addInput {
    margin-top: 10px;
    display:none;
}

#buttonBar {
    display:none;
    float: right;
}

#beatBar {
    float: right;
}

tr {
    cursor: move;
}

tr.active {
    background: #F4F4F8;
}

tr.complete {
}

tr.incomplete {
    font-weight: bolder;
}

tr.stopped {
    background: #DEEBFF !important;
    font-style: oblique;
    color: #666;
}

td.ratioCell {
    text-align: center;
}

div.progressContainer {
  border: 1px solid #ccc;
  width: 100px;
  height: 20px;
  margin: 2px 5px 2px 0;
  padding: 1px;
  float: left;
  background: #FFF;
}

div.progressContainer > div {
    height: 20px;
}

div.progressText {
    font-family: 'Lucida Grande';
    font-size: 7pt;
    text-align: right;
    font-weight: bolder;
}

div.complete {
    background-color: #C3D9FF;
}

div.incomplete {
    background-color: #CDEB8B;
}

div.hashing {
    background-color: #FF7400;
}
