body {
    margin: 0;
    background: #333;
    background: #111414 no-repeat center top -moz-radial-gradient(top,#2a2e30,#111414);
    background: -webkit-gradient(radial, center top, 0, center top, 600, from(#2a2e30), to(#111414));
    font:54px/58px Futura, Helvetica, Arial, sans-serif;
    color: #fff;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
}

html {
    height: 100%;
    -webkit-text-size-adjust:none;
}

html * {
    padding:0;
    margin:0;
}

body * {
    padding:10px 20px;
}

body * * {
    padding:0;
}

body {
    /* font:small 'Lucida Grande', sans-serif; */
    font:12px Futura;
}

h1 {
    font-weight:bold;
    color:#ccc;
    margin-bottom:.4em;
}

#spinner {
    display: block;
    width: 40%;
    height: 100px;
    position: fixed;
    top: 35%;
    left: 25%;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    overflow: auto;
}

#header {
    text-align: center;
    background: #333 url(/images/footer-bg.png) repeat-x left top;
    background: #111414 no-repeat center top -moz-radial-gradient(top,#2a2e30,#111414);
    background: -webkit-gradient(radial, center top, 0, center top, 600, from(#2a2e30), to(#111414));
    color: #FFF;
}

#main {
    font-size: x-small;
    text-align: center;
    height: 700px;
    overflow-y: auto;
}

#main a {
    color: #000;
}

#footer {
    padding: 3%;
    font-size: x-small;
    color: #ccc;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    width: 94%;
    color: #FFF;
}

.notice {
    display: none;
    background: cornsilk;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    border: 1px solid black;
    font-weight: bold;
    margin-bottom: 20px;
}


#buttonBar {
    float: right;
}
