
html * {
    padding:0;
    margin:0;
}

body * {
    padding:10px 20px;
}

body * * {
    padding:0;
}

body {
    font:small 'Lucida Grande', sans-serif;
    background:#eee;
}

h1 {
    font-weight:bold;
    color:#ccc;
    margin-bottom:.4em;
}

table.main {
     margin: 1em 1em 0;
     width: 100%;
}

tr head {
    border-bottom: 1px solid #463500;
}

tr th {
    text-align: center;
    padding: 5px 3px;
    margin: 0px;
    font-size: 10pt;
}

tr td {
    text-align: left;
    padding: 5px 3px;
    margin: 0px;
    font-size: 8pt;
}

tr.even {
    background-color: #EFF1F1;
}

tr.odd {
    background-color: #F4F4F8;
}

.active {
    background: #F4F4F8;
}

.stopped {
    background: #DEEBFF;
}

#torrentsTable {
    display: none;
}

#spinner {
    display: block;
    width: 40%;
    height: 100px;
    position: fixed;
    top: 35%;
    left: 25%;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    overflow: auto;
}

#header {
    background: black url(/images/footer-bg.png) repeat-x left top;
}

#main {
    background:#f6f6f6;
    font-size: x-small;
    text-align: center;
    display: none;
}

#main a {
     color: #000;
}

#addInput {
    margin-top: 10px;
    display:none; 
}
#buttonBar {
    display:none; 
}

.prog-border {
    width: 100px;
    height: 20px;
    background: #FFF;
    padding: 3px;
    border: 1px solid #DDD;
 }

.prog-bar {
     height: 20px;
     background: url(/images/progress_blue.gif) repeat-x;
 }

.prog-text {
     font-family: 'Lucida Grande';
     font-size: 7pt;
     text-align: right;
 }

#footer {
    background: black url(/images/footer-bg.png) repeat-x left top;
    padding: 3%;
    font-size: x-small;
    color: #ccc;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    width: 94%
}

#footer a {
    color: #729FCF;
    font-weight: bold;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}

#footer .column {
    float: left;
    width: 20%;
    margin-right: 3%;
}

#footer .section {
    margin-bottom: 1em;
}

#footer .section p {
    padding: 8px;
}

#footer .section h3 {
    margin: 0;
    font-size: 140%;
    margin-bottom: 10px;
}

#footer .section a img {
    border: 1px solid #cccccc;
}

#footer .section ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#footer .section li {
    margin-left: 40px;
}

#footer li.text {
    list-style-image: url(/images/icons/mime-text.png);
}

#footer li.folder {
    list-style-image: url(/images/icons/folder.png);
}
