development:
  rtorret_scgi: http://192.168.1.100/RPC2
  growl_host: 192.168.1.102
  download_directory: /Volumes/incoming/
  feed: = http://rss.slashdot.org/Slashdot/slashdot
  max_downloads: 4
  max_rss_entries: 4

test:
  rtorret_scgi: http://192.168.1.100/RPC2
  growl_host: 192.168.1.102
  download_directory: /Volumes/incoming/
  feed: = http://rss.slashdot.org/Slashdot/slashdot
  max_downloads: 4
  max_rss_entries: 4

production:
  rtorret_scgi: http://192.168.1.100/RPC2
  growl_host: 192.168.1.102
  download_directory: /mnt/media/incoming
  feed: = http://rss.slashdot.org/Slashdot/slashdot
  max_downloads: 4
  max_rss_entries: 4
